<h1><center>MOVIE SEARCH ..</center></h1>
<form action="/movies" method="post">
    Enter the movie name : 
    <input type="text" placeholder="ex: mi3-ghost protocol" name="movieName" >
    <button>search</button>
</form>